@property --b1 {
  syntax: "<color>";
  inherits: false;
  initial-value: rgba(255, 88, 95, 0.35);
}

@property --b2 {
  syntax: "<color>";
  inherits: false;
  initial-value: rgba(250, 88, 151, 0.35);
}

@property --c1 {
  syntax: "<color>";
  inherits: false;
  initial-value: #FF585F;
}

@property --c2 {
  syntax: "<color>";
  inherits: false;
  initial-value: #FA5897;
}

@font-face {
  font-family: "Inter";
  font-display: swap;
  src: url("../fonts/Inter-Bold.woff") format("woff"), url("../fonts/Inter-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Inter";
  font-display: swap;
  src: url("../fonts/Inter-Regular.woff") format("woff"), url("../fonts/Inter-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Inter";
  font-display: swap;
  src: url("../fonts/Inter-Medium.woff") format("woff"), url("../fonts/Inter-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Inter";
  font-display: swap;
  src: url("../fonts/Inter-SemiBold.woff") format("woff"), url("../fonts/Inter-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/*Zeroing*/

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

aside,
nav,
footer,
header,
section {
  display: block;
}

html,
body {
  height: 100%;
  color: #f5f5f5;
  min-width: 320px;
}

body {
  background: #1E192D;
}

body {
  line-height: 1;
  font-family: "Inter", sans-serif;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: "Inter", sans-serif;
}

input::-ms-clear {
  display: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

button {
  cursor: pointer;
  background: transparent;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

.select {
  position: relative;
  height: 50px;
}

.select[data-state=active] .select__title::after {
  -webkit-transform: translateY(-50%) rotate(180deg);
      -ms-transform: translateY(-50%) rotate(180deg);
          transform: translateY(-50%) rotate(180deg);
}

.select[data-state=active] .select__content {
  opacity: 1;
  visibility: visible;
}

.select[data-state=active] .select__label + .select__input + .select__label {
  max-height: 40px;
  border-top-width: 1px;
}

.select__title {
  --b1: rgba(255, 88, 95, .35);
  --b2: rgba(250, 88, 151, .35);
  border-radius: 12px;
  font-weight: 600;
  line-height: 1.1875;
  color: #f5f5f5;
  border-width: 2px;
  border-style: solid;
  border-color: transparent;
  padding: 14px;
  transition: --b1 0.3s ease-in-out, --b2 0.3s ease-in-out;
  background: -webkit-gradient(linear, left top, left bottom, from(#2B2440), to(#2B2440)) padding-box, -webkit-gradient(linear, left top, left bottom, from(var(--b1)), to(var(--b2))) border-box;
  background: linear-gradient(#2B2440, #2B2440) padding-box, linear-gradient(180deg, var(--b1) 0%, var(--b2) 100%) border-box;
  padding-right: 35px;
  cursor: pointer;
}

.select__title::-webkit-input-placeholder {
  color: #f5f5f5;
}

.select__title::-moz-placeholder {
  color: #f5f5f5;
}

.select__title:-ms-input-placeholder {
  color: #f5f5f5;
}

.select__title::-ms-input-placeholder {
  color: #f5f5f5;
}

.select__title::placeholder {
  color: #f5f5f5;
}

.select__title:focus {
  --b1: rgba(255, 88, 95, .6);
  --b2: rgba(250, 88, 151, .6);
}

.select__title.active {
  --b1: rgba(255, 88, 95, .6);
  --b2: rgba(250, 88, 151, .6);
}

.select__title::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 16px;
  display: block;
  width: 14px;
  height: 14px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background: url("../img/icons/arrow.svg") center no-repeat;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}

.select__content {
  position: relative;
  top: 5px;
  left: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-width: 2px;
  border-style: solid;
  border-color: transparent;
  background: -webkit-gradient(linear, left top, left bottom, from(#1e192d), to(#1e192d)) padding-box, -webkit-gradient(linear, left top, left bottom, from(rgba(250, 88, 151, 0.35)), to(rgba(255, 88, 95, 0.35))) border-box;
  background: linear-gradient(#1e192d, #1e192d) padding-box, linear-gradient(180deg, rgba(250, 88, 151, 0.35) 0%, rgba(255, 88, 95, 0.35) 100%) border-box;
  border-radius: 12px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  opacity: 0;
  visibility: hidden;
  z-index: 8;
  overflow: auto;
  max-height: 124px;
}

.select__input {
  display: none;
}

.select__input:checked + label {
  pointer-events: none;
  background-color: #2B2440;
  color: #fff;
}

.select__input:disabled + label {
  opacity: 0.6;
  pointer-events: none;
}

.select__label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #f5f5f5;
  font-size: 16px;
  font-weight: 500;
  min-height: 40px;
  max-height: 0;
  padding: 10px 55px 10px 15px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  overflow: hidden;
  white-space: nowrap;
  cursor: pointer;
}

._swiper {
  overflow: hidden;
}

._swiper > div {
  width: 100%;
  height: 100%;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

._swiper.swiper-container-autoheight > div {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.swiper-container-initialized .swiper-slide {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.swiper-container-android .swiper-slide,
.swiper-container-android .swiper-wrapper {
  -webkit-transform: translate3d(0px, 0, 0);
          transform: translate3d(0px, 0, 0);
}

.swiper-button-lock {
  display: none !important;
}

._ibg {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

._ibg img {
  width: 0;
  height: 0;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
}

.converter {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 30px 0;
}

.converter__container {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.converter__title {
  width: 100%;
  text-align: center;
  color: #fff;
  font-size: 22px;
  line-height: 1.2272727273;
  font-weight: 700;
  margin: 0px 0px 28px 0px;
}

.converter__main {
  width: 100%;
  position: relative;
}

.converter__main::before,
.converter__main::after {
  display: block;
  position: absolute;
}

.converter__main:before {
  content: "";
  width: 220px;
  height: 220px;
  top: 45px;
  left: -168px;
  background: url("../img/bg1.png") no-repeat center/contain;
  z-index: -1;
}

.converter__main:after {
  content: "";
  width: 200px;
  height: 200px;
  top: -105px;
  right: -5px;
  background: url("../img/bg2.png") no-repeat center/contain;
  z-index: 1;
}

.converter__wrapper {
  width: 100%;
  border-radius: 12px;
  padding: 9px 45px 37px 45px;
  background: rgba(39, 29, 53, 0.6);
  -webkit-backdrop-filter: blur(4px);
          backdrop-filter: blur(4px);
  min-height: 314px;
  -webkit-box-shadow: 0px 0px 20px rgba(39, 29, 53, 0.6);
          box-shadow: 0px 0px 20px rgba(39, 29, 53, 0.6);
}

.converter__tabs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

.converter__tabs:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  opacity: 0.2;
  background: -webkit-gradient(linear, left top, right top, color-stop(12.5%, rgba(217, 217, 217, 0)), color-stop(51.57%, #FFF), color-stop(86.98%, rgba(255, 255, 255, 0)));
  background: linear-gradient(90deg, rgba(217, 217, 217, 0) 12.5%, #FFF 51.57%, rgba(255, 255, 255, 0) 86.98%);
  width: 70%;
  min-width: 660px;
  height: 2px;
}

.converter__tab {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
  -webkit-column-gap: 10px;
     -moz-column-gap: 10px;
          column-gap: 10px;
  padding: 15px 13px;
  font-size: 18px;
  opacity: 0.5;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  position: relative;
}

.converter__tab:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 0px;
  height: 2px;
  display: block;
  background: -webkit-gradient(linear, left top, right top, from(rgba(255, 88, 95, 0)), color-stop(51.57%, #FA5897), to(rgba(255, 88, 95, 0)));
  background: linear-gradient(90deg, rgba(255, 88, 95, 0) 0%, #FA5897 51.57%, rgba(255, 88, 95, 0) 100%);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.converter__tab.active {
  opacity: 1;
  pointer-events: none;
}

.converter__tab.active:after {
  width: 100%;
}

.converter__tab-icon {
  width: 18px;
  height: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.converter__form {
  margin: 40px 0px 0px 0px;
}

.converter__label {
  display: block;
  font-weight: 400;
  font-size: 13px;
  line-height: 1.2307692308;
  color: #b7b7b7;
  padding: 0px 0px 10px 16px;
  cursor: text;
}

.converter__inputs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 25px;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.converter__input-group {
  width: 320px;
}

.converter__input-group input {
  width: 100%;
  --b1: rgba(255, 88, 95, .35);
  --b2: rgba(250, 88, 151, .35);
  border-radius: 12px;
  font-weight: 600;
  line-height: 1.1875;
  color: #f5f5f5;
  border-width: 2px;
  border-style: solid;
  border-color: transparent;
  padding: 14px;
  transition: --b1 0.3s ease-in-out, --b2 0.3s ease-in-out;
  background: -webkit-gradient(linear, left top, left bottom, from(#2B2440), to(#2B2440)) padding-box, -webkit-gradient(linear, left top, left bottom, from(var(--b1)), to(var(--b2))) border-box;
  background: linear-gradient(#2B2440, #2B2440) padding-box, linear-gradient(180deg, var(--b1) 0%, var(--b2) 100%) border-box;
}

.converter__input-group input::-webkit-input-placeholder {
  color: #f5f5f5;
}

.converter__input-group input::-moz-placeholder {
  color: #f5f5f5;
}

.converter__input-group input:-ms-input-placeholder {
  color: #f5f5f5;
}

.converter__input-group input::-ms-input-placeholder {
  color: #f5f5f5;
}

.converter__input-group input::placeholder {
  color: #f5f5f5;
}

.converter__input-group input:focus {
  --b1: rgba(255, 88, 95, .6);
  --b2: rgba(250, 88, 151, .6);
}

.converter__input-group input.active {
  --b1: rgba(255, 88, 95, .6);
  --b2: rgba(250, 88, 151, .6);
}

.converter__select {
  min-width: 240px;
}

.converter__switch {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #2b2440;
  width: 52px;
  height: 52px;
  border-radius: 50%;
  cursor: pointer;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.converter__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 25px 0px 0px 0px;
  position: relative;
}

.converter__loader {
  display: none;
}

.converter__btn {
  --c1: #FF585F;
  --c2: #FA5897;
  font-size: 17px;
  line-height: 1.2352941176;
  padding: 12px 30px;
  color: #fff;
  border-radius: 12px;
  transition: --c1 0.3s ease-in-out, --c2 0.3s ease-in-out;
  background: linear-gradient(133deg, var(--c1) 0%, var(--c2) 100%);
}

.converter__rate-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 16px 0px 0px 0px;
  font-size: 12px;
  line-height: 1.25;
  color: rgba(245, 245, 245, 0.5);
}

.converter__rate-conversion {
  color: #fff;
}

.results-converter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-column-gap: 15px;
     -moz-column-gap: 15px;
          column-gap: 15px;
  opacity: 0;
  visibility: hidden;
}

.results-converter.show {
  opacity: 1;
  visibility: visible;
}

.results-converter__item {
  border-radius: 12px;
  background: #1E192D;
  padding: 12px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: grid;
  -webkit-column-gap: 8px;
     -moz-column-gap: 8px;
          column-gap: 8px;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  min-width: 193px;
  grid-template-columns: 32px 1fr;
  grid-template-areas: "icon titles" "icon amount";
}

.results-converter__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  grid-area: icon;
  border-radius: 50%;
  width: 30px;
  height: 30px;
}

.results-converter__icon img {
  width: 16px;
  height: 16px;
  -o-object-fit: contain;
     object-fit: contain;
}

.results-converter__icon_from {
  background: #FC5782;
  -webkit-box-shadow: 0px 0px 0px 2px rgba(252, 87, 130, 0.25);
          box-shadow: 0px 0px 0px 2px rgba(252, 87, 130, 0.25);
}

.results-converter__icon_to {
  background: #1FC4AF;
  -webkit-box-shadow: 0px 0px 0px 2px rgba(31, 196, 175, 0.25);
          box-shadow: 0px 0px 0px 2px rgba(31, 196, 175, 0.25);
}

.results-converter__text {
  grid-area: titles;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-column-gap: 10px;
     -moz-column-gap: 10px;
          column-gap: 10px;
}

.results-converter__title {
  font-weight: 500;
  font-size: 14px;
  color: #fff;
  line-height: 1.2142857143;
}

.results-converter__full {
  font-size: 12px;
  line-height: 1.25;
  color: rgba(245, 245, 245, 0.5);
}

.results-converter__value {
  grid-area: amount;
  font-weight: 700;
  font-size: 19px;
  line-height: 1.2105263158;
  margin: 6px 0px 0px 0px;
}

.results-converter__equals {
  border-radius: 50%;
  background: #2B2440;
  width: 30px;
  height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.results-converter__equals img {
  width: 19px;
  height: 19px;
  -o-object-fit: contain;
     object-fit: contain;
}

.currency-converter {
  margin: 40px 0px 0px 0px;
}

.currency-converter__single {
  position: relative;
}

.currency-converter__single .converter__select {
  display: none;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  right: 10px;
  width: calc(100% - 20px);
  max-width: 290px;
}

.currency-converter__single.active .currency-converter__btn {
  display: none;
}

.currency-converter__single.active .converter__select {
  display: block;
}

.currency-converter__item {
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  grid-template-columns: repeat(3, 1fr);
  width: 100%;
  border-radius: 12px;
  padding: 10px 20px;
  background: #1e192d;
}

.currency-converter__item.current {
  background: #879FFF;
}

.currency-converter__item.current .currency-converter__full {
  color: #eee;
}

.currency-converter__item.current .currency-converter__btn {
  color: #fff;
  border-color: #fff;
}

.currency-converter__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-column-gap: 19px;
     -moz-column-gap: 19px;
          column-gap: 19px;
}

.currency-converter__title {
  font-weight: 600;
  line-height: 1.1875;
  color: #F5F5F5;
}

.currency-converter__full {
  font-size: 12px;
  line-height: 1.25;
  color: rgba(245, 245, 245, 0.5);
}

.currency-converter__amount {
  text-align: center;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.2222222222;
}

.currency-converter__action {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.currency-converter__btn {
  font-size: 12px;
  font-weight: 600;
  height: 39px;
  padding: 0px 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #FC5782;
  border-radius: 8px;
  overflow: hidden;
  border: 2px solid #FC5782;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.currency-converter__btn span {
  position: relative;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.currency-converter__btn span:before {
  content: "";
  position: absolute;
  bottom: -3px;
  right: 50%;
  display: block;
  width: 0%;
  height: 2px;
  border-radius: 4px 0px 0px 4px;
  background: currentColor;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.currency-converter__btn span:after {
  content: "";
  position: absolute;
  bottom: -3px;
  left: 50%;
  display: block;
  width: 0%;
  height: 2px;
  border-radius: 0px 4px 4px 0px;
  background: currentColor;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.currency-converter__list {
  margin: 30px 0px 0px 0px;
}

._container {
  max-width: 1054px;
  margin: 0 auto;
  padding: 0 15px;
}

.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.page {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

body._lock {
  overflow: hidden;
}

::-webkit-scrollbar {
  width: 16px;
}

::-webkit-scrollbar-track {
  background: #1e192d;
}

::-webkit-scrollbar-thumb {
  background: #FC5782;
  border: 3px solid #1e192d;
  border-radius: 10px;
}

@media (max-width: 1066px) {
  ._container {
    max-width: 970px;
  }
}

@media (max-width: 991.98px) {
  ._container {
    max-width: 750px;
  }
}

@media (max-width: 767.98px) {
  ._container {
    max-width: none;
  }
}

@media (any-hover: hover) {
  .select__label:hover {
    background-color: #2B2440;
    color: #fff;
  }

  .converter__tab:hover {
    opacity: 0.8;
  }

  .converter__switch:hover {
    background: #362d50;
  }

  .converter__btn:hover {
    --c1: #EC6EAD;
    --c2: #879fff;
  }

  .currency-converter__btn:hover span {
    -webkit-transform: translateY(-3px);
        -ms-transform: translateY(-3px);
            transform: translateY(-3px);
  }

  .currency-converter__btn:hover span:after,
  .currency-converter__btn:hover span:before {
    width: 50%;
  }
}

.webp .converter__main:before { background: url(../img/bg1.webp) no-repeat center/contain; }

.webp .converter__main:after { background: url(../img/bg2.webp) no-repeat center/contain; }